{% extends 'base.html.twig' %}

{% block body %}

<div class="row text-center">

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-9 mx-auto m-3">
            {{ form_row(form.objet) }}
        </div>
        <div class="col-9 mx-auto m-3">
            {{ form_row(form.email) }}
        </div>
        <div class="col-9 mx-auto m-3">
            {{ form_row(form.message) }}
        </div>

    </div>
    {{ form_end(form) }}
</div>
{% endblock %}